<h1>Oh hey</h1>

<p>Submit your opinion about the 2109 elections! </br>
Hi voter, we are collecting data on what the general public think of the </br>
two major parties running in the 2109 elections.</p>

<form action="/form" method="post">
  <input type="text" name="name" placeholder="Enter your name">
  <input type="text" name="comment" placeholder="Comment">
  <input type="submit" value="Send">
</form>