html,
body {
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFF;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	letter-spacing: 2px;
	margin: 0;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1499070022014-ccac3a6416f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1ae305093828193f016b6d5a22b6f7dd&auto=format&fit=crop&w=1014&q=80);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
	background-position: center;
}


header {
	position: absolute;
	background-color: none;
	margin-top: 40px;
	height: 55px;
	width: 100%;
	overflow: hidden;
}


.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}


li {
	display: inline-block;
	margin: 0 50px;
}


a:link,
a:visited {
    color: #FFF;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #FFF;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #FFF;
    border-bottom: 1px solid transparent; 
}

.main-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 300px;
}

